
bin/lin-x86_64/

CHAI3D\.cbp

CHAI3DConfig\.cmake

CHAI3DConfigVersion\.cmake

CHAI3DTargets\.cmake

cmake_install\.cmake

CMakeFiles/

CMakeLists\.txt\.user

extras/GLFW/

**/Makefile

*.user
external/SixenseSDK_102215*
bin/*
modules/build-*
modules/BULLET/bin*
chai3d.dir
CMakeFiles
*.obj
*.log
*.tlog
*.cmake
examples/CmakeFiles
*.vcx*
*.sln*
.vs
*.db
CMakeCache.txt
examples/GLFW/Release
Release
lib/Release
extras/GLFW/lib/Release
extras/GLFW/Release
extras/GLFW/glfw.lib
*.cbp


CMakeLists.txt.user.4.8-pre1
**/Debug/*
*.vcxproj
*.exe
out/
