bin/lin-x86_64/
CHAI3D\.cbp
CHAI3DConfig\.cmake
CHAI3DConfigVersion\.cmake
CHAI3DTargets\.cmake
cmake_install\.cmake
CMakeFiles/
CMakeLists\.txt\.user
extras/GLFW/
**/Makefile
*.depend
*.sln
*.user
*.vcxproj*
*.cmake
*.filters
*.log
*.obj
*.check_cache
*.stamp
CHAI3D.sln
CMakeCache.txt
.vs/*
modules/BULLET/.vs/*
modules/BULLET/bin/*
modules/BULLET/chai3d-BULLET.dir/*
modules/BULLET/CMakeFiles/*
modules/BULLET/examples/GLFW/Release/*
*.lastbuildstate
*.tlog
*.exp
modules/BULLET/Release/chai3d-BULLET.lib
ALL_BUILD.vcxproj
*.vcxproj
